{% load static %}
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
    <div class="container">
      <div 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarNav" 
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        {% with request.resolver_match.view_name as view_name %}            
        <ul class="nav nav-pills">
          <li class="nav-item">              
            <a
              class="nav-link {% if view_name == 'homepage:home' %} active {% endif %}" 
              href="{% url 'homepage:home' %}"
              >
              Главная 
            </a> 
          </li>
          <li class="nav-item">
            <a 
              class="nav-link {% if view_name == 'pizza:pizza_list' %} active {% endif %}" 
              href="{% url 'pizza:pizza_list' %}"
              >
              Каталог
            </a> 
          </li>
          <li class="nav-item">
            <a 
              class="nav-link {% if view_name == 'about:about_pizzeria' %} active {% endif %}"
              href="{% url 'about:about_pizzeria' %}"
            >
              О пиццериях
            </a> 
          </li>
        </ul>
        {% endwith %}
      </div> 
      <form class="d-flex me-4" method="GET" action="{% url 'pizza:pizza_list' %}">
        <input class="form-control me-2" type="search" name="search" placeholder="Поиск" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Поиск</button>
      </form>
      <a class="navbar-brand" href="{% url 'homepage:home' %}">
        <img src="{% static 'img/user.png' %}" height="50" class="d-inline-block align-top" alt="">           
      </a>         
    </div>
  </nav>
</header>